#calc {
	background: url("https://i.pinimg.com/736x/14/33/8c/14338c9edb602c90f2772a86ae360db7.jpg"); 
	border: 0;
}

#calc td {padding: 3px;}

.display {
	background-color: #000000;
	color: #FFFFFF; 
	border: 1px solid #FFFFFF;
	width: 130px; 
	height: 26px; 
	font-family: Arial, Helvetica; 
	font-size: 20px; 
	line-height: 26	px; 
	text-align: right; 
}

.button {
	width: 24px; 
	border: 1px solid #000000; 
	font-family: Arial; 
	font-size: 12px; 
	cursor: hand; 
	background-color: #FFFFFF;
}

.buttonLarge { 
	width: 62px; 
	border: 1px solid #FFFFFF;  
	font-family: Arial; 
	font-size: 12px; 
	cursor: hand; 
	background-color: #FFFFFF;
}

.func {
	font-weight: bold; 
	color: #000000;
}
